<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jz.aqjianzhi.ws_service.mapper.AqUserChatMapper">

    <select id="getLastChatBySessionId" parameterType="string" resultType="com.jz.aqjianzhi.ws_service.entity.AqUserChat">
        select c.c_message, c.create_time, c.c_send_user_id, u.u_name, c.c_level
        from aq_user_chat as c, aq_user as u
        where c.session_id = #{arg0}
        and c.c_send_user_id = u.u_id
        order by c.c_level desc
    </select>
</mapper>
