<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jz.aqjianzhi.ws_service.mapper.AqUserChatMapper">

    <select id="getLastChatBySessionId" parameterType="string" resultType="com.jz.aqjianzhi.ws_service.entity.vo.LastMessageVo">
        select c_message as content, update_time as 'timestamp' from aq_user_chat
        where session_id = #{arg0}
        and c_level=(select max(c_level) from aq_user_chat where session_id = #{arg0})
    </select>

    <select id="getMessages" parameterType="string" resultType="com.jz.aqjianzhi.ws_service.entity.vo.MessageVo">
        select c_id as _id, c_message as content, c_send_user_id as senderId, create_time as 'timestamp',
        c_level
        from aq_user_chat
        where session_id = #{arg0}
        order by c_level asc;
    </select>

    <select id="getFirstChatTime" parameterType="string" resultType="date">
        select min(create_time) from aq_user_chat where session_id=#{arg0};
    </select>

    <insert id="saveChatMessage">
        insert into aq_user_chat(c_id, session_id, c_message, c_send_user_id, c_receive_user_id, c_level, create_time, update_time)
        values(#{arg0}, #{arg1}, #{arg2}, #{arg3}, #{arg4}, #{arg5}, #{arg6}, #{arg6})
    </insert>
</mapper>
